display_name: "{{ inventory_hostname[7:] }}"
license_key: "{{ new_relic_license_key }}"
custom_attributes:
  bu: "firm_intelligence"
  department: "engineering"
  product: "{{ product }}"
  environment: "{{ env }}"
  location: "{{ location }}"
  region: "{{ region }}"
  provisionedby: "Manual"
  owner: "{{ owner }}"
  schedule: "Variable"
  bcdr: "{{ bcdr }}"
  customertype: "External"
  customername: "Multi-Tenant"
  dataclassification: "Confidential"
  publicnetworkaccess: "Closed"
  creationdate: "{{ creationdate }}"
  productionbackup: "NoBackup"
  ext_monitoring_enabled: "True"
  ext_monitoring_region: "US"
