logs:
  - name: micron-api
    file: C:\logs\micron-api
	
  - name: apitest-api
    file: C:\logs\apitest-api
	
  - name: help-api
    file: C:\logs\help-api
  
  - name: austin-api
    file: C:\logs\austin-api
	
